<h3>Login</h3>
<% form_tag sessions_path do %>
  <table>
    <tr>
      <td><%= label_tag :email %></td>
      <td><%= text_field_tag :email %></td>
    </tr>
    <tr>
      <td><%= label_tag :password %>   </td>
      <td><%= password_field_tag :password %></td>
    </tr>
    <tr>
      <td></td>
      <td><%= submit_tag 'Login', :class => 'button' %></td>
    </tr>
  </table>
<% end %>