<div id="cart">
    <%= render '/store/cart' %>
</div>


<h1>Listing <%= 'your' if !current_user.admin %> orders</h1>

<table>
  <tr>
    <th>Order ID</th>
    <th><%= 'Customer' if current_user.admin? %></th>
    <th>Order Date</th>
    <th>Order Value</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @orders.each do |order| %>
  <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
    <td class="center"><%= order.id %></td>
    <td><%= order.user.email  if current_user.admin? %></td>
    <td class="center"><%= l order.created_at %></td>
    <td class="right"><%= number_to_currency(order.total_price, :unit => '&euro;') %></td>
    <td><%= link_to image_tag('icons/show.png', :alt => 'Show', :title => 'Show'), order %></td>
    <% if current_user.admin %>
        <td><%= link_to image_tag('icons/edit.png', :alt => 'Edit', :title => 'Edit'), edit_order_path(order) %></td>
        <td><%= link_to image_tag('icons/delete.png', :alt => 'Delete', :title => 'Delete'), order, :confirm => 'Are you sure?', :method => :delete %></td>
    <% else %>
        <td></td>
        <td></td>
    <% end %>
  </tr>
<% end %>
</table>
