<h2>Details for Order # <%= @order.id %></h2>
<table>
  <tr>
    <th></th>
    <th>Product Name</th>
    <th>Quantity</th>
    <th>Unit Price</th>
    <th>Total Price</th>
  </tr>


    <% @line_item.each do |line_item| %>
        <tr>
          <td><%= image_tag(line_item.stock_item.product.photo.url(:small)) %></td>
          <td><%= line_item.stock_item.product.product_name %></td>
          <td class='center'><%= line_item.quantity %></td>
          <td class='right'><%= number_to_currency(line_item.stock_item.product.unit_price, :unit=>'&euro;') %></td>
          <td class='right'><%= number_to_currency(line_item.subtotal, :unit=>'&euro;') %></td>
        </tr>
    <% end %>


  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td class='total'>Order Total:</td>
    <td class='total'><%= number_to_currency(@order.total_price, :unit=>'&euro;') %></td>
  </tr>
</table>

<%= link_to 'Back', orders_path %>
