<p id="notice"><%= notice %></p>
<h1>Your Cart</h1>
<% unless @cart.line_items.empty? %>

    <table>
      <tr>
        <th></th>
        <th>Product Name</th>
        <th>Size</th>
        <th>Quantity</th>
        <th>Unit Price</th>
        <th>Total Price</th>
        <th></th>
        <th></th>
      </tr>
      <% for item in @cart.line_items %>
          <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
            <td><%= image_tag(item.stock_item.product.photo.url(:small)) %></td>
            <td class='left'><%=  item.stock_item.product.product_name %></td>
            <td class='center'><%=  item.stock_item.size.description %></td>
            <td class='center'><%= item.quantity %></td>
            <td class='right'><%=  number_to_currency(item.stock_item.product.unit_price, :unit=>'&euro;') %></td>
            <td class='right'><%=  number_to_currency(item.subtotal, :unit=>'&euro;') %></td>
            <td class='center'><%= link_to image_tag('icons/edit.png', :alt => 'Edit', :title => 'Edit Line'), edit_line_item_path(item) %></td>
            <td class='center'><%= link_to image_tag('icons/delete.png', :alt => 'Delete', :title => 'Delete Line'), item, :confirm => 'Are you sure you want to delete this line?', :method => :delete %></td>
          </tr>
      <% end %>

      <tr class='total'>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>Cart Total:</td>
        <td><%=  number_to_currency(@cart.total_price, :unit=>'&euro;') %></td>
        <td></td>
        <td></td>
      </tr>
    </table>

    <%=  link_to 'Checkout', new_order_path, :method => :get, :class => 'c2a_btn' %>
    <%=  link_to 'Empty Cart',@cart, :method => :delete, :confirm => "Are you sure you want to do this?" , :class => 'c2a_btn'%>

<% else %>
    <p>Your cart is empty!</p>
<% end %>

<%=  link_to 'Continue Shopping',store_index_path, :class => 'c2a_btn' %>