<h1>Listing categories</h1>

<table>
  <tr>
    <th>Category ID</th>
    <th>Category Name</th>
    <th>Category Photo</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @categories.each do |category| %>
  <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
    <td><%= category.id %></td>
    <td><%= category.category_name %></td>
    <td><%= image_tag(category.photo.url) %></td>
    <td><%= link_to image_tag('icons/show.png'), category %></td>
    <td><%= link_to image_tag('icons/edit.png'), edit_category_path(category) %></td>
    <td><%= link_to image_tag('icons/delete.png'), category, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Category', new_category_path %>
