<%= form_for(@stock_item) do |f| %>
  <% if @stock_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@stock_item.errors.count, "error") %> prohibited this stock_item from being saved:</h2>

      <ul>
      <% @stock_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :product_id %><br />
    <%= f.text_field :product_id %>
  </div>
  <div class="field">
    <%= f.label :size_id %><br />
    <%= f.text_field :size_id %>
  </div>
  <div class="field">
    <%= f.label :quantity_in_stock %><br />
    <%= f.text_field :quantity_in_stock %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
