<h1>Listing Stock Items</h1>
<p id="notice"><%= notice %></p>

<p><%= link_to image_tag('icons/add.png', :title => 'New Stock item') + 'Add New Stock Item', new_stock_item_path %></p>

<table>
  <tr>
    <th>SKU</th>
    <th>Product Image</th>
    <th>Product Name</th>
    <th>Size</th>
    <th>Quantity in stock</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @stock_items.each do |stock_item| %>
  <tr>
    <td><%= stock_item.id %></td>
    <td><%= image_tag(stock_item.product.picture, :title => stock_item.product.product_name, :class => 'thumb') %></td>
    <td><%= stock_item.product.product_name %></td>
    <td><%= stock_item.size.size_name %></td>
    <td><%= stock_item.quantity_in_stock %></td>
    <td><%= link_to image_tag('icons/show.png', :alt => 'Show', :title => 'Show'), stock_item %></td>
    <td><%= link_to image_tag('icons/edit.png', :alt => 'Edit', :title => 'Edit'), edit_stock_item_path(stock_item) %></td>
    <td><%= link_to image_tag('icons/delete.png', :alt => 'Delete', :title => 'Delete'), stock_item, :confirm => 'Are you sure?', :method => :delete %></td>

  </tr>
<% end %>
</table>


