<tr id="notice"><%= notice %></tr>

<table>
    <tr>
      <td class='label'>Product:</td>
      <%= @stock_item.product_id %>
    </tr>
    
    <tr>
      <td class='label'>Size:</td>
      <td><%= @stock_item.size_id %></td>
    </tr>
    
    <tr>
      <td class='label'>Quantity in stock</td>
      <td><%= @stock_item.quantity_in_stock %></td>
    </tr>
</table>

<%= link_to 'Edit', edit_stock_item_path(@stock_item) %> |
<%= link_to 'Back', stock_items_path %>
