<tr id="notice"><%= notice %></tr>
<h2>Showing '<%= @stock_item.product.product_name %>' Stock Item</h2>

<%= image_tag(@stock_item.product.photo.url(:large), :alt => @stock_item.product.product_name, :title => @stock_item.product.product_name, :class => 'showProduct ') %>

<table>
    <tr>
      <td class='label'>SKU:</td>
      <td><%= @stock_item.id %></td>
    </tr>
    <tr>
      <td class='label'>Size:</td>
      <td><%= @stock_item.size.description %></td>
    </tr>
    
    <tr>
      <td class='label'>Quantity in stock</td>
      <td><%= @stock_item.quantity_in_stock %></td>
    </tr>
</table>

<table class="nav_icons">
  <tr>
    <td><%= link_to image_tag('icons/back.png', :alt => "Back", :title => "Back"), stock_items_path %></td>
    <td><%= link_to image_tag('icons/edit.png', :alt => "Edit", :title => "Edit"), edit_stock_item_path(@stock_item) %></td>
    <td><%= link_to image_tag('icons/delete.png', :alt => 'Delete', :title => 'Delete Stock Item'), @stock_item, :confirm => 'Are you sure you want to delete this stock item?', :method => :delete %></td>
  </tr>
</table>
