<h1>Editing product</h1>


<%  if @product.photo.exists? then %>
    <%= image_tag(@product.photo.url, :class => 'showProduct') %>
<% else %>
    # display the current seed image attached to the product
    <%= image_tag(@product.picture, :class => 'showProduct', :alt => 'Current Image', :title => 'Current Image') %>
<% end %>


<%= render 'form' %>

<table class="nav_icons">
  <tr>
    <td><%= link_to image_tag('icons/back.png', :alt => "Back", :title => "Back"), products_path %></td>
    <td><%= link_to image_tag('icons/show.png', :alt => "Show", :title => "Show"), @product %></td>
    <td><%= link_to image_tag('icons/delete.png', :alt => 'Delete', :title => 'Delete Product'), @product, :confirm => 'Are you sure you want to delete this product?', :method => :delete %></td>
  </tr>
</table>
