<h1>Editing product</h1>

<p class="showProduct">
  <%= image_tag(@product.picture) %>
</p>
<%= render 'form' %>

<%= link_to image_tag('edit.png', :alt => "Edit"), edit_product_path(@product) %>
<br />
<%= link_to image_tag('back.png', :alt => "Back"), products_path %>

<%= link_to 'Show', @product %> |
<%= link_to 'Back', products_path %>
