<h1>Our Collection</h1>
<p><%= link_to image_tag('icons/add.png', :alt => 'Add', :title => 'Add New Product') + "Add New Product", new_product_path %></p>
<table class="<%= controller.controller_name %>">
  <tr>
    <th>Picture</th>
    <th>Product name</th>
    <th>Unit price</th>
    <th>Colour</th>
    <th>Gender</th>
    <th>Category</th>
    <th>User</th>
    <th></th>
    <th></th>
  </tr>

  <% @products.each do |product| %>
    <% if product.active %>
        <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
    <% else %>
        <tr class="inactive">
    <% end %>
        <td><%= image_tag(product.photo.url(:small)) %></td>
        <td><%= product.product_name %></td>
        <td class="right"><%= number_to_currency(product.unit_price,:unit=>'€') %></td>
        <td class="center"><%= product.colour %></td>
        <td class="center"><%= image_tag(product.gender.icon_url, :alt => product.gender.gender, :title => product.gender.gender, :class => 'icon') %></td>
        <td class="center"><%= product.category.try(:category_name) %></td>
        <td class="center"><%= product.user_id %></td>
        <td><%= link_to image_tag('icons/show.png', :alt => 'Show', :title => 'Show Product Information'), product %></td>
        <td><%= link_to image_tag('icons/edit.png', :alt => 'Edit', :title => 'Edit Product'), edit_product_path(product) %></td>
    </tr>
  <% end %>
</table>


