<p id="notice"><%= notice %></p>

<p class="showProduct">
  <%  if @product.photo.exists? then %>
      <%= image_tag(@product.photo.url(:thumb)) %>
  <% else %>
      <%= image_tag(@product.picture) %>
   <% end %>
</p>
<h1>
  <%= @product.product_name %>
</h1>

<p>
  <b>Description:</b>
  <%= @product.description %>
</p>

<p>
  <b>Unit price:</b>
  <%= number_to_currency(@product.unit_price, :unit=>'€') %>
</p>
<p>
  <b>Colour:</b>
  <%= @product.colour %>
</p>

<p>
  <b>Size:</b>
  <%= @product.size %>
</p>

<p>
  <b>Gender:</b>
  <%= @product.gender %>
</p>

<p>
  <b>Active:</b>
  <%= @product.active %>
</p>


<%= link_to image_tag('icons/edit.png', :alt => "Edit"), edit_product_path(@product) %>
<br />
<%= link_to image_tag('icons/back.png', :alt => "Back"), products_path %>
