<%= form_for(@line_item) do |f| %>
    <table>
    <tr>
      <th>Picture</th>
      <th>Product Name</th>
      <th>Quantity</th>
      <th></th>
    </tr>
    <tr>
      <td><%= image_tag(@line_item.stock_item.product.photo.url(:small)) %></td>
      <td><%= @line_item.stock_item.product.product_name %></td>
      <td class='center'><%= f.text_field :quantity, :class => 'small_field' %></td>
      <td class='center'><%= f.submit %></td>
    </tr>
    </table>

    <% if @line_item.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@line_item.errors.count, "error") %> prohibited this line_item from being saved:</h2>

          <ul>
            <% @line_item.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
<% end %>
