<p><%= link_to'View cart', :controller => "carts", :action => "your_cart" %>
  <br />
  <%= pluralize(@cart.count, 'item')   %>
  <br />
  Total : <%=  number_to_currency(@cart.total_price, :unit => '&euro;') %>
  <br />
  <b><%=  current_user.email %></b>
</p>
<%=  link_to 'Checkout', new_order_path, :method => :get, :class => 'c2a_btn' %>