<% if logged_in? %>
    <div id="cart">
      <%= render 'cart' %>
    </div>
<% else %>
    <div id="login">
      <%=
          # Show login form
          render '/sessions/login'
      %>
    </div>
<% end %>


<h1>Product View</h1>
<%= image_tag(@product.photo.url(:large), :class => 'showProduct') %>

<h3><%= @product.product_name %></h3>

<table class='products'>
  <tr>
    <td class='label'>Description</td>
    <td><%= @product.description %></td>
  </tr>
  <tr>
    <td class='label'>Category</td>
    <td><%= @product.category.try(:category_name) %> Range</td>
  </tr>
  <tr>
    <td class='label'>Unit Price</td>
    <td><%= number_to_currency(@product.unit_price, :unit=>'€') %></td>
  </tr>
  <tr>
    <td class='label'>Colour</td>
    <td> <%= @product.colour %></td>
  </tr>
  <tr>
    <td class='label'>Gender</td>
    <td><%= image_tag(@product.gender.icon_url, :alt => @product.gender.gender, :title => @product.gender.gender, :class => 'icon') %></td>
  </tr>
  <tr>
    <td class='label'>Sizes Available</td>
    <td>
      <% if logged_in? %>
          <% form_for LineItem.new do |f| %>
              <%= select(:stock_item, :id, @data["stocks"].map{|s| [s.size.description, s.id]}) %>
              <%= f.submit "Add to Cart" %>
          <% end %>
      <% else %>
          <% @data["stocks"].each do |s| %>
              <%= s.size.description %>
              <br />
          <% end %>
          <p class="notice">You must be logged in to add items to cart.</p>
      <% end %>
    </td>
  </tr>
</table>