<h1>Product View</h1>

<%  if @product.photo.exists? then %>
    <%= image_tag(@product.photo.url, :class => 'showProduct') %>
<% else %>
    <%= # display the current seed image attached to the product
        image_tag(@product.picture, :class => 'showProduct', :alt => 'Current Image', :title => 'Current Image')
    %>
<% end %>

<h3><%= @product.product_name %></h3>

<table>
  <tr>
    <td class='label'>Description</td>
    <td><%= @product.description %></td>
  </tr>
  <tr>
    <td class='label'>Category</td>
    <td><%= @product.category.try(:category_name) %> Range</td>
  </tr>
  <tr>
    <td class='label'>Unit Price</td>
    <td><%= number_to_currency(@product.unit_price, :unit=>'€') %></td>
  </tr>
  <tr>
    <td class='label'>Colour</td>
    <td> <%= @product.colour %></td>
  </tr>
  <tr>
    <td class='label'>Gender</td>
    <td><%= image_tag(@product.gender.icon_url, :alt => @product.gender.gender, :title => @product.gender.gender, :class => 'icon') %></td>
  </tr>
  <tr>
    <td>Sizes Available</td>
    <td>
      <% form_for LineItem.new do |f| %>
          <%= select(:stock_item, :id, @data["stocks"].map{|s| [s.size.description, s.id]}) %>
          <%= f.submit "Add to Cart" %>
      <% end %>
    </td>
  </tr>
  <tr>
    <td></td>
    <td></td>
  </tr>

</table>