<!DOCTYPE html>
<html>
<head>
  <title>kidzboutique</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
<div id="container">
  <div id="header">
    <%= link_to image_tag('header.png'), store_index_path %>
  </div>
  <% if logged_in? %>
      <div id="cart">
        <%= render '/store/cart' %>
      </div>
  <% else %>
      <div id="login">
        <%= render '/sessions/login' %>
      </div>
  <% end %>

  <!-- MENU -->
  <div id="menu">
    <ul>
        <li><%= link_to "Home", store_index_path %></li>
        <li><%= link_to "Categories", store_category_view_path %></li>
        <li><%= link_to "Boys", :controller => "store", :action => "index", :gender => 1 %></li>
        <li><%= link_to "Girls", :controller => "store", :action => "index", :gender => 2 %></li>
        <% if logged_in? %>
          <li><%= link_to "Your Orders", orders_path %></li>
          <li><%= link_to "Your Cart", :controller => "carts", :action => "your_cart" %></li>
          <li><%= link_to "Your Profile", current_user %></li>
          <li><%= link_to "Logout", logout_path %></li>
        <% else %>
              <li><%= link_to "Register", new_user_path %></li>
              <li><%= link_to "Login", login_path %></li>
        <% end %>
    </ul>
  </div>
  <div id="search_form">
    <% form_tag store_path, :method => 'get' do %>
        <p>
          <%= collection_select(:category, :id, Category.all, :id, :category_name, options={ :include_blank => "Category"}, html_options={:name=>'category'}) %>
          <%= collection_select(:gender, :id, Gender.either, :id, :gender, options={ :include_blank => "Gender"}, html_options={:name=>'gender'}) %>
          <%= collection_select(:size, :id, Size.all, :id, :description, options={ :include_blank => "Size"}, html_options={:name=>'size'}) %>
          <%=  text_field_tag :search_query, params[:search_query] %>
          <%=  submit_tag "Find Products", :name => nil, :class => "button" %>
        </p>
    <% end %>
  </div>


  <%= yield %>


</div>
</body>
</html>